<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<body>
    <h1>Posts</h1>
    <ol>
        <% results.forEach(function(post) {%>
        <li>
            <article> 
                <p><%= post.postedBy.name %></p> 
                <time><%= post.createdAt %></time>
                <p><%= post.message %></p>
                <img src="<%= post.imageUrl %>" />
                <p><%= post.likedBy.name %> </p> <p> <%= post.dislikedBy.name %></p>
            </article>  
        </li>

        <% }); %>
    </ol>
    <nav>
        <%if (previous) { %>
        <a href="<%= previous %>">Previous</a>
        <% } %>
        <%if (next) { %>
        <a href="<%= next %>">Next</a>
        <% } %>
    </nav> 
</body>
<%- include('_footer') -%>

</html>