<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<body>
    <h1>Posts</h1>
    <ol>
        <% results.forEach(function(post) {%>
        <li>
            <article class="post"> 
                <div>
                    <p class="message"><%= post.message %>  </p> 
                </div>
                <div class="picture">
                    <img src="<%= post.imageUrl %>" />
                </div>

            </article>
            <p class="infoText">Created by <%= post.postedBy.name %> at <time class="infoText"><%= post.createdAt %></time></p>
            <form method="post" action="/posts/<%= post.id %>/like/" >
                <button class="likes" type="submit" >Like</button>
            </form>
            
            <form method="post" action="/posts/<%= post.id %>/dislike/">
                <button class="likes" type="submit" >Disike</button>
            </form>
           
        </li>

        <% }); %>
    </ol>
</body>
<nav class="navigation">
    <%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
    <% } %>
    <%if (next) { %>
    <a href="<%= next %>">Next</a>
    <% } %>
</nav> 
<%- include('_footer') -%>

</html>