<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<body>
    <h1>Posts</h1>
    <ol>
        <% results.forEach(function(post) {%>
        <li>
            <article> 
                <p><%= post.message %></p>
                <img src="<%= post.imageUrl %>" />
            </article>  
        </li>
        <!-- <li></li>
            <figure>
            <figcaption><<%= post.message %><figcaption>
            
            <img src="<%= post.imageUrl %>" />
            </figure>  
        </li> -->
        <% }); %>
    </ol>
    <nav>
        <%if (previous) { %>
        <a href="<%= previous %>">Previous</a>
        <% } %>
        <%if (next) { %>
        <a href="<%= next %>">Next</a>
        <% } %>
    </nav> 
</body>
<%- include('_footer') -%>

</html>